* {
    box-sizing:border-box;
    margin:0;
    padding:0;
}

body {
    height: 100vh;
    font-family: 'Fira Sans', sans-serif;
    font-size: 1em;
}

.grid-container {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 70px 1fr;
    grid-template-areas:
    "header"
    "nav"
    "main";
}

/* ===================================== 
 HEADER
======================================== */

header {
    grid-area: header;
    background-color: #1F2833;
}

h1 {
    color: #FFF;
    font-size: 1.75em;
}

.title {
    font-weight: 100}

.header-left {
    text-align: center;
}

.header-right {
    width: 80%;
    max-width: 256px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}

.header-user {
    display: flex;
    align-items: center;
    padding-left: 20%;
}


h3 {
    font-size: 1.1em;
    color: #FFF;
}

h3.user-name {
	color: #FFF;
    display: inline;
    float: right;
}

.bell-icon {
    display: inline-block;
    width: 60px;
    padding: 0 1rem;
}

img.user-image {
    display: none;
 }

 .header-bell {
     display: flex;
     align-items: center;
     width: 75px;
 }

ul.notifications {
    display: none;
    position: absolute;
    top: 100px;
    z-index: 10000;
}

ul.notifications li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 20px;
    border: 1px solid #FFF;
    background-color: #88BDBC;
    color:#FFF;
    border-radius: 2px;
    font-size: .7em
}

ul.notifications li:first-child,
ul.notifications li:nth-child(2) {
    border-bottom: none;
}


ul.notifications li:nth-child(2) {
    background-color: #254E58;
}

ul.notifications li span {
    display: inline-block;
    margin-left: 20px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    color: #FFF;
}


 /* ------
Bell ring
------ */

@keyframes ring {
  0% { transform: rotate(0); }
  1% { transform: rotate(30deg); }
  3% { transform: rotate(-28deg); }
  5% { transform: rotate(34deg); }
  7% { transform: rotate(-32deg); }
  9% { transform: rotate(30deg); }
  11% { transform: rotate(-28deg); }
  13% { transform: rotate(26deg); }
  15% { transform: rotate(-24deg); }
  17% { transform: rotate(22deg); }
  19% { transform: rotate(-20deg); }
  21% { transform: rotate(18deg); }
  23% { transform: rotate(-16deg); }
  25% { transform: rotate(14deg); }
  27% { transform: rotate(-12deg); }
  29% { transform: rotate(10deg); }
  31% { transform: rotate(-8deg); }
  33% { transform: rotate(6deg); }
  35% { transform: rotate(-4deg); }
  37% { transform: rotate(2deg); }
  39% { transform: rotate(-1deg); }
  41% { transform: rotate(1deg); }
  43% { transform: rotate(0); }
  100% { transform: rotate(0); }
}

@keyframes dot {
    0% {
        background-color: tomato;
    }
    50% {
        background-color: yellow;
        transform: scale(1.4);
    }
}

.bell-icon:hover {
    animation: ring 4s ease-out backwards;
}

.dot {
    position: relative;
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    top: -10px;
    right: 28px;
    animation: dot 1.5s infinite;
}



main {
    grid-area: main;
    display: grid;
    overflow: auto;
    background: #0B0C10;
}

/* ===================================== 
 NAVIGATION
======================================== */

nav {
    grid-area: nav;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    background: #45A29E;
}

.nav-icons {
    display: inline-block;
    height: 40px;
    width: 40px;
    opacity: .6;
    transition: opacity .4s ease-in-out;
}

.nav-icons:hover {
    opacity: 1;
}

nav a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid transparent;
    border-left: 2px solid transparent;
}

nav a:hover {
    border-bottom: 2px solid #FFF ;
}

.active-nav {
    background-color: #1F2833;
}

/* ===================================== 
 MAIN HEADER + ALERT
======================================== */
.main-header {
    display: grid;
    grid-template-rows: 1fr 1fr;
    text-align: center;
    height: 120px;
    padding-top: 20px;
}

.dashboard {
	color: #FFF;
}

.search {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;;
    background-color: #C5C6C7;
}
input.search-input {
    height: 30px;
    width: 80%;
    border-radius: 8px;
    margin-top: 9px;
    border: 1px solid #ddd;
    padding-left: 4px;
    background: #FFF;
    background-image: url('../icons/magnifying-glass.png');
    background-position: 95%;
    background-repeat: no-repeat;
}

#alert {
    width: 90%;
    margin: 30px auto;
    border-radius: 5px;
    background-color: #FC4445;
    color: #FFF;
    padding: 15px 10px;
    border: 1px solid #666;
    box-shadow: 0 2px 4px #666;
}

.alert-banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

p.alert-banner-close {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

/* ===================================== 
 GRAPHS
======================================== */
.traffic-header {
	background-color: #1F2833;
	color: #FFF;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.full-size-chart,
.half-size-charts,
.chart-1 {
    border-bottom: 2px solid #FFF;
}

.full-size-chart,
.chart-1,
.chart-2 {
    padding: 10px;
}

li.traffic-nav-li {
    display: inline;
    padding: 8px 4px;
    margin: 4px;
    transition: background-color 1s ease-out;
    border-radius: 10px;
    font-size: 12px;
}

li.traffic-nav-li.active {
    background-color: #45A29E;
}

li.traffic-nav-li:hover {
	background-color: #45A29E;
}


#traffic-chart,
#daily-chart,
#mobile-chart {
    max-width: 100%;
    margin-top: 20px;
}


/* ===================================== 
 SOCIAL
======================================== */

.social-media-info {
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    padding: 10px;
 }

.social-inner,
.social-flex {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
}

.social-1,
.social-2,
.social-3 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #FFF;
    border-radius: 5px;
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background: #1F28331A;
    transition: background .3s ease-in-out;
}

.social-1:hover,
.social-2:hover,
.social-3:hover {
    background: #1F2833E6;
}

#layer_1 {
    width: 40px;
    height: 40px;
}

.social-image {
    display: flex;
    justify-content: center;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background-color: #45A29E;
    border: 1px solid #ccc;
}

.social-image svg {
    margin: auto;
}

p.social-name {
    font-size: 1.5em;
    color: #66FCF1;
    font-weight: 700;
}

p.totals {
    font-size: 2em;
    margin-top: 10px;
    color: #FFF;
    font-weight: 300;
}

/* ===================================== 
 MEMBERS
======================================== */

.member-info {
    display: flex;
    flex-direction: column;
    border-top: 2px solid #FFF;
}

.members-1,
.members-2  {
    width: 100%;
    border-bottom: 2px solid #FFF;
    padding: 10px;
}

.member-data {
    display: flex;
    border-bottom: 1px solid #FFF;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}

.member-data:last-child {
    border-bottom: none;
}

.member-email,
.member-comment-contain {
    flex-grow: 2;
    margin-left: 10px;
    margin-right: 10px;
}

.member-data img.arrow {
    box-shadow: none;
    width: 25px;
}

.member-data img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    box-shadow: 1px 1px 4px #333;
}

p.full-name,
p.date,
p.member-comments {
    color: #FFF;
    font-size: .75em;
    font-weight: 500;
}

p.email,
p.time-frame {
    color: #C5C6C7;
    font-size: .6em;
}

/* ===================================== 
 MESSAGE SETTINGS + FORMS
======================================== */

.message-and-settings {
    display: flex;
    flex-direction: column;
}
.message,
.settings {
    width: 100%;
    padding: 10px;
}

form {
    width: 90%;
    margin: auto;
    text-align: center;
}

input.user,
textarea {
    width: 100%;
    background-color: #efefef;
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 4px;
}

input.user::placeholder,
textarea::placeholder {
    font-size: .8em;
    color: #ccc;
    letter-spacing: 1px;
}

input.user {
    height: 3em;
    margin: 20px 0;
}

input:focus,
textarea:focus,
button:focus,
select:focus {
 outline: none;
}

button {
    transition: background .3s ease-in-out;
    box-shadow: 0 2px 2px #555;
}

button:active {
    box-shadow: 0 1px #666;
    transform: translateY(1px);
}
button.message {
    background-color: #66FCF1;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 50px;
}

button.message:hover,
button.save:hover {
    background-color: #97CAEF;
    color: #FFF;
}

/* Form search autocomplete */

.autocomplete {
    position: relative;
    display: inline-block;
    width: 100%;
  }

  .autocomplete-items {
    position: absolute;
    border: 1px solid #FFF;
    border-bottom: none;
    border-top: none;
    z-index: 99;

    top: 100%;
    left: 0;
    right: 0;
  }
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #FFF;
    text-align: left;
  }

  .autocomplete-items div:hover {
      background-color: #45A29E;
  }


/* ===================================== 
 SETTINGS
======================================== */
select {
    width: 100%;
    font-size: .8em;
    padding: 10px;
    margin-bottom: 43px;
    border-radius: 5px;
    background-color: #EFEFEF;
    color: black;
}

.settings-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

button.save,
button.cancel {
    width: 40%;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

button.save {
    background-color: #66FCF1;
}

button.cancel:hover {
    background-color: #FC4445;
    color: #FFF;
}


/* ===================================== 
 TOGGLE BUTTONS
======================================== */
.toggle-contain {
    display: flex;
    flex-direction: column;
}

.email-notif,
.public-profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    width: 100%;
    color: #FFF;
}

.email-notif {
    margin-top: 14px;
}

label.switch-light {
    width: 100px;
    float: right;
}

.switch-ios.switch-light input:checked ~ span{
    background-color: #66FCF1;
    box-shadow: none;
}

.switch-ios.switch-light input:checked ~ span span:last-of-type {
    color: black;
}

.switch-ios.switch-light input:focus ~ span a {
    outline: none;
}

.switch-ios.switch-light input:checked ~ span a  {
    border-color: #66FCF1;
}


/* ===================================== 
 CLEARFIX
======================================== */
.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}


/* ===================================== 
 MEDIA QUERIES
======================================== */

 @media (min-width: 768px) {
    header {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0 20px;
    }
    .header-right {
        justify-content: flex-end;
        align-items: center;
        max-width: 80%;
    }

    ul.notifications {
        top: 80px;
    }

    img.user-image {
        display: inline;
        width: 50px;
        height: 50px;
        margin-left: 20px;
        border-radius: 50%;
    }
    h3.user-name {
        margin-left: 30px;
    }

    .header-user {
	    border-left:2px solid #FFF;
        padding-left: 0;
    }

    li.traffic-nav-li {
        font-size: .8em;
    }
     .social-flex {
         flex-direction: row;
         justify-content: space-evenly;
         width: 100%;
     }
     .social-1,
     .social-2,
     .social-3 {
        width: 30%;
    }
    .member-info,
    .message-and-settings {
        flex-direction: row;
    }
    .members-2,
    .settings {
        border-left: 2px solid #FFF;
    }
}

@media (min-width: 1024px) {
    .grid-container {
        grid-template-columns: 100px 1fr;
        grid-template-rows: 100px 1fr;
        grid-template-areas:
        "header header"
        "nav main";
     }

    nav {
        flex-direction: column;
        justify-content: flex-start;
    }
    .nav-icons {
        margin: 20px;
    }
    nav a:hover {
        border-left: 2px solid #FFF;
        border-bottom: 2px solid transparent;
    }
    .main-header {
        height: 100px;
        grid-template-rows: 1fr;
        grid-template-columns: 200px 1fr;
        padding-top: 0;
    }
    .search {
        height: 100px;
        border-top: none;
        border-bottom: 1px solid #C5C6C7;
        border-left: 1px solid #C5C6C7;

    }
    h2.dashboard {
        margin-top: 40px;
        height: 100px;
    }
   
    input.search-input {
    	margin-top: 23px;
        height: 2em;
        width: 50%;
        float: right;
        margin-right: 40px;
        padding: 10px;
    }
    input.search-input::placeholder {
        font-size: 1em;
    }
    li.traffic-nav-li {
        font-size: .9em;
        padding: 8px;
    }
    .half-size-charts {
        display: flex;
        flex-direction: row;
    }
    #traffic-chart {
        width: 90vw!important;
        height: 450px!important;
    }
    .full-chart-container {
        width: 80vw;
        margin: auto;
        max-width: 1000px;
    }
    .chart-1 {
        border-bottom: none;
        border-right: 2px solid #FFF;
    }
    .chart-1,
    .chart-2 {
        width: 50%;
    }
    .email-notif,
    .public-profile {
        width: 70%;
    }
}